.about-work__wrapper {
  .wrapper-mobile();

  @media (min-width: @tablet-width) {
    .wrapper-tablet();
  }

  @media (min-width: @desktop-width) {
    .wrapper-desktop();
  }
}

.about-work__title {
  .fonts();
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  margin-bottom: 35px;

  @media (min-width: @tablet-width) {
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 55px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 65px;
  }
}

.about-work__item {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  margin-bottom: 16px;

  @media (min-width: @tablet-width) {
    width: 247px;
    height: 280px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    flex-direction: column;
  }
}

.about-work__list {
  list-style: none;
  padding: 0;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 70px;
    row-gap: 20px;
    margin-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 77px;
  }
}

@media (max-width: @mobile-width-only) {
  .about-work__item--nutrients::before {
    content: url("../img/icon_nutrients.png");
    vertical-align: middle;
    margin-right: 20px;
  }

  .about-work__item--fast::before {
    content: url("../img/icon_fast.png");
    vertical-align: middle;
    margin-right: 25px;
  }

  .about-work__item--change::before {
    content: url("../img/icon_change.png");
    vertical-align: middle;
    margin-right: 25px;
  }

  .about-work__item--result::before {
    content: url("../img/icon_result.png");
    vertical-align: middle;
    margin-right: 20px;
    padding-bottom: 8px;
  }
}

@media (min-width: @tablet-width) {
  .about-work__item--nutrients {
    background: url("../img/picture-one.png") no-repeat right;
    width: 230px;
    padding-top: 15px;
    background-position: 125px 10px;

    @media (min-resolution: 2dppx) {
      background: url("../img/picture-one@2x.png") no-repeat right;
      background-size: auto 230px;
      background-position: 125px 10px;
    }
  }

  .about-work__item--fast {
    background: url("../img/picture-two.png") no-repeat right;
    width: 246px;
    padding-top: 15px;
    background-position: 120px 10px;

    @media (min-resolution: 2dppx) {
      background: url("../img/picture-two@2x.png") no-repeat right;
      background-size: auto 240px;
      background-position: 120px 10px;
    }
  }

  .about-work__item--change {
    background: url("../img/picture-three.png") no-repeat right;
    width: 247px;
    background-position: 130px 0;

    @media (min-resolution: 2dppx) {
      background: url("../img/picture-three@2x.png") no-repeat right;
      background-size: auto 240px;
      background-position: 130px 0;
    }
  }

  .about-work__item--result {
    background: url("../img/picture-four.png") no-repeat right;
    width: 249px;
    background-position: 120px 0;

    @media (min-resolution: 2dppx) {
      background: url("../img/picture-four@2x.png") no-repeat right;
      background-size: auto 249px;
      background-position: 120px 0;
    }
  }
}

@media (min-width: @tablet-width) {
  .about-work__item--nutrients::before {
    content: url("../img/icon_nutrients-medium.png");
    vertical-align: middle;
    padding-bottom: 25px;
  }

  .about-work__item--fast::before {
    content: url("../img/icon_fast-medium.png");
    vertical-align: middle;
    padding-bottom: 25px;
  }

  .about-work__item--change::before {
    content: url("../img/icon_change-medium.png");
    vertical-align: middle;
    margin-right: 15px;
    padding-bottom: 25px;
  }

  .about-work__item--result::before {
    content: url("../img/icon_result-medium.png");
    vertical-align: middle;
    padding-bottom: 25px;
  }
}

@media (min-width: @desktop-width) {
  .about-work__item--nutrients::before {
    content: url("../img/icon_nutrients-medium.png");
    vertical-align: middle;
    padding-bottom: 25px;
  }

  .about-work__item--fast::before {
    content: url("../img/icon_fast-medium.png");
    vertical-align: middle;
    padding-bottom: 25px;
  }

  .about-work__item--change::before {
    content: url("../img/icon_change-medium.png");
    vertical-align: middle;
    margin-right: 25px;
    padding-bottom: 25px;
    padding-top: 15px;
  }

  .about-work__item--result::before {
    content: url("../img/icon_result-medium.png");
    vertical-align: middle;
    padding-bottom: 25px;
    padding-top: 15px;
  }
}

.about-work {
  border-bottom: 1px solid @line-nav-grey;

  @media (min-width: @desktop-width) {
    border: none;
  }
}
