.about-work__wrapper{
  width: 320px;
  height: 450px;

}
.about-work__title {
  .fonts();
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
}
.about-work__item {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}
.about-work__list {
  list-style: none;
}
.about-work__item--nutrients::before {
  content: url(../img/icon_nutrients.png);
}
.about-work__item--fast::before{
  content: url(../img/icon_fast.png);
}
.about-work__item--change::before{
  content: url(../img/icon_change.png);
}
.about-work__item--result::before{
  content: url(../img/icon_result.png);
}
