.about-us__title {
  .fonts();
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  margin: 0;
  padding-top: 30px;
  padding-bottom: 12px;

  @media (min-width: @tablet-width) {
    .fonts();
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    color: @basic-black;
    text-align: start;
    max-width: 414px;
    margin-left: 88px;
    padding-top: 50px;
    padding-bottom: 20px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 50px;
  }
}

.about-us__subtitle {
  .fonts();
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;

  @media (max-width: @mobile-width-only) {
    &::after {
      content: "";
      height: 290px;
      display: block;
      background-image: url("../img/index-can-mobile1.png");
      background-repeat: no-repeat;
      background-position: 0 27px;
      padding-bottom: 5px;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/index-can-mobile1@2x.png");
        background-repeat: no-repeat;
        background-size: 280px 270px;
      }
    }
  }

  @media (min-width: @tablet-width) {
    .fonts();
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: @basic-black;
    text-align: start;
    margin-left: 88px;
  }
}

.about-us__link {
  .fonts();
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  padding: 9px 73px 9px 73px;
  background-color: @basic_green;
  color: @basic_white;

  @media (min-width: @tablet-width) {
    padding: 14px 26px;
    position: absolute;
    top: 280px;
    left: 110px;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 83px;
    top: 335px;
  }
}

.about-us__wrapper {
  .wrapper-mobile();
  background: url("../img/header-bg.png"), url("../img/header-bg1.png");
  background-repeat: no-repeat;
  background-size: 320px 302px;
  color: @basic_white;
  position: relative;

  @media (min-resolution: 2dppx) {
    background: url("../img/header-bg.png"), url("../img/header-bg1@2x.png");
    background-repeat: no-repeat;
    background-size: auto 302px;
  }

  @media (min-width: @tablet-width) {
    background: none;
    .wrapper-tablet();
  }

  @media (min-width: @tablet-width) {
    &::after {
      content: "";
      height: 609px;
      display: block;
      background: url("../img/index-can-tablet1.png") no-repeat;
      background-position: -2px 1px;

      @media (min-resolution: 2dppx) {
        background: url("../img/index-can-tablet1@2x.png") no-repeat;
        background-size: 709px 609px;
      }
    }
  }

  @media (min-width: @desktop-width) {
    .wrapper-desktop();
    min-height: 585px;

    &::before {
      content: url("../img/Rectangle17.png");
      position: absolute;
      bottom: 11px;
      left: 718px;
      right: 0;
      z-index: 1;
    }

    &::after {
      content: url("../img/index-can-desktop.png");
      position: absolute;
      bottom: -40px;
      left: 555px;
      z-index: 1;
      background: none;
    }
  }
}

.about-us {
  display: flex;
  align-items: center;

  @media (min-width: @tablet-width) {
    padding-bottom: 65px;
  }
}

.about-us__image-small {
  padding-top: 12px;
}

.about-us__image-large {
  width: 709px;
  height: 609px;
}
