.about-us__title {
  .fonts();
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  margin: 0;
  padding-top: 26px;
  padding-bottom: 12px;

  @media (min-width: @tablet-width) {
    .fonts();
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    color: @basic-black;
    text-align: start;
    max-width: 414px;
    margin-left: 88px;
    padding-top: 50px;
    padding-bottom: 20px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 45px;
    margin-left: 80px;
  }
}

.about-us__subtitle {
  .fonts();
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: @tablet-width) {
    .fonts();
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: @basic-black;
    text-align: start;
    margin-left: 88px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 80px;
    margin-bottom: 0;
  }
}

.about-us__link {
  .fonts();
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  padding: 9px 73px 9px 73px;
  background-color: @basic_green;
  color: @basic_white;

  &:hover {
    background-color: @basic_green-2;
  }

  &:active {
    color: @white-for-active;
  }

  @media (min-width: @tablet-width) {
    padding: 14px 26px;
    position: absolute;
    top: 280px;
    left: 110px;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 81px;
    top: 330px;
  }
}

.about-us__wrapper {
  .wrapper-mobile();
  color: @basic_white;
  position: relative;
  z-index: 1;

  @media (min-resolution: 2dppx) {
    background: url("../img/header-bg.png"), url("../img/header-bg1@2x.png");
    background-repeat: no-repeat;
    background-size: auto 302px;
  }

  @media (min-width: @tablet-width) {
    background: none;
    .wrapper-tablet();
  }

  @media (min-width: @desktop-width) {
    .wrapper-desktop();
    min-height: 585px;

    &::before {
      content: url("../img/Rectangle17.png");
      background-size: cover;
      width: 100vw;
      position: absolute;
      bottom: 16px;
      left: 721px;
      z-index: 1;
    }
  }
}

.about-us {
  display: flex;
  align-items: center;
  background: url("../img/header-bg.png"), url("../img/header-bg1.png");
  background-repeat: no-repeat;
  background-size: 100% 302px, 320px 302px;
  background-position: center top, center top;
  color: @basic_white;
  z-index: 2;

  @media (min-width: @tablet-width) {
    background: none;
  }
}

.about-us__image {
  padding-top: 15px;
  padding-bottom: 5px;

  @media (min-width: @tablet-width) {
    width: 709px;
    height: 609px;
    padding-top: 0;
    padding-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    width: 552px;
    height: 499px;
    z-index: 3;
    position: absolute;
    top: 11px;
    left: 559px;
  }
}
