.cooperation {
  width: 320px;
  height: 114px;
}

.cooperation__title {
  .fonts();
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}

.cooperation__subtitle {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}
