.example__main-title {
  .fonts();
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  margin: 0;
  padding-top: 30px;

  @media (min-width: @tablet-width) {
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 75px;
  }
}

.example__title {
  .fonts();
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  margin-bottom: 42px;
  text-transform: uppercase;
  align-self: center;
  text-align: center;

  @media (min-width: @tablet-width) {
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    width: 174px;
    text-align: end;
  }

  @media (min-width: @desktop-width) {
    width: auto;
    text-align: center;
  }
}

.example__subtitle {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  padding-top: 17px;
  z-index: 2;

  @media (min-width: @tablet-width) {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }
}

.example__wrapper {
  .wrapper-mobile();
  background-color: @special_grey-3;
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    .wrapper-tablet();
    background-color: @basic_white;
  }

  @media (min-width: @desktop-width) {
    .wrapper-desktop();
    display: flex;
    flex-direction: row;
  }
}

@media (min-width: @desktop-width) {
  .example__wrap {
    display: flex;
    flex-direction: column;
    max-width: 436px;
    justify-content: space-between;
  }
}

.example {
  padding-top: 10px;
  background-color: @special_grey-3;
  position: relative;

  @media (min-width: @tablet-width) {
    background-color: @basic_white;
  }
}

.example-slider__image {
  margin-bottom: 23px;
  display: none;

  @media (max-width: @mobile-width-only) {
    display: block;
    z-index: 2;
  }
}

@media (max-width: @mobile-width-only) {
  .example-slider__image--large {
    display: none;
  }
}

.example-slider {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 2;
}

.expample__range-controls {
  align-self: center;
  text-transform: uppercase;
  position: relative;
  display: none;

  &::before {
    content: "Было";
    position: absolute;
    top: -5px;
    left: -45px;
  }

  &::after {
    content: "Стало";
    position: absolute;
    top: -5px;
    left: 90px;
  }

  @media (max-width: @mobile-width-only) {
    display: block;
  }
}

.expample__scale {
  width: 84px;
  height: 14px;
  margin-bottom: 25px;
  background-color: @basic_white;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  position: relative;
}

.example__bar {
  width: 35px;
  height: 6px;
  background-color: @basic_green;
  position: absolute;
  top: 4.5px;
  left: 5px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

@media (min-width: @tablet-width) {
  .expample__scale-large {
    width: 428px;
    height: 6px;
    background-color: @special_grey;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    position: absolute;
    top: 600px;
    left: 140px;

    &::before {
      content: "Было";
      position: absolute;
      top: -10px;
      left: -45px;
      text-transform: uppercase;
      border-bottom: 1px dotted @special_grey;
    }

    &::after {
      content: "Стало";
      position: absolute;
      top: -10px;
      left: 440px;
      text-transform: uppercase;
      border-bottom: 1px dotted @special_grey;
    }
  }

  .example__toggle {
    width: 4px;
    height: 4px;
    padding: 0;
    background-color: @basic_green;
    border: 8px solid @basic_white;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: -6px;
    left: 214px;
  }
}

.example__result-wrapper {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  z-index: 2;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    flex-direction: column;
  }
}

.example__result-wrapper-conteiner {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;

  @media (min-width: @tablet-width) {
    min-width: 362px;
  }

  @media (min-width: @desktop-width) {
    justify-content: space-around;
  }
}

.example__result {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid @special_grey;
  border-radius: 3px;
  width: 124px;
  height: 64px;

  @media (min-width: @tablet-width) {
    width: 162px;
    height: 77px;
  }
}

.example__text {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  background-color: @special_grey-3;
  position: absolute;
  top: 57px;
  width: 77px;

  @media (min-width: @tablet-width) {
    width: 127px;
    top: 70px;
    background-color: @basic_white;
  }

  @media (min-width: @desktop-width) {
    background-color: @special_grey-3;
  }
}

.example__weight,
.example__days {
  background-color: @special_grey-3;
  text-transform: uppercase;
  .fonts();
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;

  @media (min-width: @tablet-width) {
    background-color: @basic_white;
  }

  @media (min-width: @desktop-width) {
    background-color: @special_grey-3;
  }
}

.example__background {
  @media (min-width: @tablet-width) {
    position: absolute;
    top: 500px;
    background-color: @special_grey-3;
    width: 100%;
    height: 462px;
  }

  @media (min-width: @desktop-width) {
    height: 500px;
    top: 135px;
    z-index: 1;
  }
}
