.example__main-title {
  .fonts();
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  margin: 0;
  padding-top: 15px;

  @media (min-width: @tablet-width) {
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    padding-top: 10;
  }

  @media (min-width: @desktop-width) {
    padding-top: 0;
  }
}

.example {
  padding-top: 10px;
  background-color: @special_grey-3;
  position: relative;
  padding-bottom: 15px;

  @media (min-width: @tablet-width) {
    background-color: @basic_white;
    padding-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    max-height: 595px;
    padding-bottom: 5px;
    padding-top: 15px;
  }
}

.example__title {
  .fonts();
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  margin-bottom: 42px;
  text-transform: uppercase;
  align-self: center;
  text-align: center;
  height: 5px;

  @media (min-width: @tablet-width) {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    width: 174px;
    text-align: end;
    margin-bottom: 90px;
  }

  @media (min-width: @desktop-width) {
    width: auto;
    text-align: center;
    margin-bottom: 0;
    padding-right: 18px;
  }
}

.example__title span {
  @media (max-width: @tablet-width) {
    display: none;
  }
}

.example__subtitle {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  padding-top: 20px;
  z-index: 2;
  margin-bottom: 25px;

  @media (min-width: @tablet-width) {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    padding-top: 45px;
    padding-bottom: 28px;
    width: 700px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 145px;
    padding-bottom: 68px;
    margin: 0;
    width: 436px;
  }
}

.example__wrapper {
  .wrapper-mobile();
  background-color: @special_grey-3;
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    .wrapper-tablet();
    background-color: @basic_white;
  }

  @media (min-width: @desktop-width) {
    .wrapper-desktop();
    display: flex;
    flex-direction: row;
    position: relative;
  }
}

@media (min-width: @desktop-width) {
  .example__wrap {
    display: flex;
    flex-direction: column;
    max-width: 436px;
    justify-content: space-between;
  }
}

.example__result-wrapper {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  z-index: 2;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    flex-direction: column;
    margin-bottom: 165px;
    padding-right: 85px;
  }
}

.example__result-wrapper-conteiner {
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;

  @media (min-width: @tablet-width) {
    min-width: 362px;
  }

  @media (min-width: @desktop-width) {
    justify-content: space-between;
    margin-bottom: 55px;
    min-width: 366px;
  }
}

.example__result {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid @special_grey;
  border-radius: 3px;
  width: 124px;
  height: 55px;

  @media (min-width: @tablet-width) {
    width: 162px;
    height: 70px;

    &:last-child {
      margin-left: 40px;
    }
  }
}

.example__text {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  background-color: @special_grey-3;
  position: absolute;
  top: 47px;
  width: 77px;

  @media (min-width: @tablet-width) {
    width: 127px;
    top: 62px;
    left: 15px;
    background-color: @basic_white;
    font-size: 14px;
    line-height: 14px;
  }

  @media (min-width: @desktop-width) {
    background-color: @special_grey-3;
  }
}

.example__weight,
.example__days {
  background-color: @special_grey-3;
  text-transform: uppercase;
  .fonts();
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;

  @media (min-width: @tablet-width) {
    background-color: @basic_white;
    .fonts();
    font-weight: 400;
    font-size: 30px;
    line-height: 37px;
    margin-bottom: 5px;
  }

  @media (min-width: @desktop-width) {
    background-color: @special_grey-3;
  }
}

.example__background {
  @media (min-width: @tablet-width) {
    position: absolute;
    top: 597px;
    background-color: @special_grey-3;
    width: 100%;
    height: 462px;
  }

  @media (min-width: @desktop-width) {
    height: 465px;
    top: 150px;
    z-index: 1;
  }
}
