.main-catalog__wrapper {
  .wrapper-mobile();

  @media (min-width: @tablet-width) {
    .wrapper-tablet();
  }

  @media (min-width: @desktop-width) {
    .wrapper-desktop();
  }
}

.main-catalog {
  overflow: hidden;
}

.main-catalog__title {
  .fonts();
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  padding-bottom: 30px;
  padding-top: 27px;
  margin: 0;

  @media (min-width: @tablet-width) {
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    padding-top: 45px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 60px;
  }
}

.main-catalog__item img {
  padding-left: 35px;
}

.main-catalog__list {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-rows: repeat(8 1fr);
  row-gap: 19px;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
    row-gap: 138px;
    padding-top: 121px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 80px;
    row-gap: 140px;
    padding-top: 117px;
  }
}

.main-catalog__item {
  min-height: 190px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-bottom: 1px solid @special_grey-2;
  padding: 0;
  position: relative;

  &:first-child {
    border-top: 1px solid @special_grey-2;
  }

  @media (min-width: @tablet-width) {
    background: @basic_grey;
    width: 324px;
    height: 430px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-top: 0;
    position: relative;

    &:first-child {
      border-top: 1px solid @special_grey-2;
      padding-top: 0;
    }
  }

  @media (min-width: @desktop-width) {
    max-width: 245px;
  }
}

.main-catalog__item:nth-child(1) img {
  position: absolute;
  top: 27px;

  @media (min-width: @tablet-width) {
    width: 168px;
    height: 200px;
    position: absolute;
    top: -75px;
    left: 42px;
  }

  @media (min-width: @desktop-width) {
    top: -81px;
    left: 5px;
  }
}

.main-catalog__item:nth-child(even) img {
  position: absolute;
  top: 22px;
  left: -8px;

  @media (min-width: @tablet-width) {
    width: 168px;
    height: 200px;
    position: absolute;
    top: -72px;
    left: 42px;
  }

  @media (min-width: @desktop-width) {
    top: -80px;
    left: 5px;
  }
}

.main-catalog__item:nth-child(2n + 3) img {
  position: absolute;
  top: 38px;

  @media (min-width: @tablet-width) {
    width: 168px;
    height: 200px;
    position: absolute;
    top: -72px;
    left: 42px;
  }

  @media (min-width: @desktop-width) {
    top: -81px;
    left: 5px;
  }
}

.main-catalog__item:focus-within .main-catalog__list-image-small,
.main-catalog__item:focus-within .main-catalog__list-image-big {
  outline: solid @basic-black;
}

.main-catalog__button {
  height: 20px;
  padding: 10px 109px 10px 109px;
  background-color: @basic_green;
  color: @basic_white;
  text-transform: uppercase;
  .fonts();
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;

  &:hover {
    background-color: @basic_green-2;
  }

  &:active {
    color: @white-for-active;
  }

  @media (min-width: @tablet-width) {
    padding: 9px 93px;
    margin-bottom: 25px;
  }

  @media (min-width: @desktop-width) {
    padding: 10px 53px;
  }
}

.main-catalog__table-title a {
  .fonts();
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: @special_dark-grey-2;
  align-self: flex-start;
}

.main-catalog__table-title {
  max-width: 76px;
  text-align: left;
  padding: 0;
  padding-top: 13px;
  line-height: 16px;
  margin-bottom: 10px;

  @media (min-width: @tablet-width) {
    max-width: 125px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    padding-top: 110px;
    margin-bottom: 5px;
  }

  @media (min-width: @desktop-width) {
    font-weight: 400;
    font-size: 20px;
    line-height: 21px;
    padding-top: 116px;
  }
}

.main-catalog__table {
  width: 142px;

  @media (min-width: @tablet-width) {
    min-width: 250px;
    min-height: 157px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  @media (min-width: @desktop-width) {
    min-width: 196px;
    min-height: 156px;
  }
}

.main-catalog__table tbody {
  @media (min-width: @tablet-width) {
    padding-top: 20px;
  }
}

.main-catalog__table-row {
  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    min-width: 250px;
    border-bottom: 1px solid @special_grey;
    margin-bottom: 5px;
  }

  @media (min-width: @desktop-width) {
    min-width: 170px;
    height: 25px;
  }
}

.main-catalog__table-cell {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  padding: 0;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 16px;
  }
}

.main-catalog__table-cell:first-child {
  text-align: left;
}

.main-catalog__table-cell:last-child {
  text-align: right;
}

.main-catalog__table-cell:not(:last-child) {
  margin-bottom: 6px;
}

.main-catalog__still-title {
  .fonts();
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  position: relative;
  padding-top: 65px;
  margin: 0;
  text-transform: uppercase;

  &::before {
    content: url("../img/plus.png");
    position: absolute;
    top: 12px;
    left: 86px;
  }

  @media (min-width: @tablet-width) {
    width: 140px;
    text-align: center;
    padding-top: 165px;
    font-size: 20px;
    line-height: 22px;

    &::before {
      content: url("../img/plus-big.png");
      position: absolute;
      top: 54px;
      left: 40px;
    }
  }
}

.main-catalog__subtitle {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  margin-top: 9px;
  margin-bottom: 20px;

  @media (min-width: @tablet-width) {
    width: 170px;
    text-align: center;
    margin-bottom: 85px;
    font-size: 16px;
    line-height: 18px;
    padding-top: 15px;
  }
}

.main-catalog__still {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  border-bottom: 1px solid @special_grey-2;
  padding-bottom: 25px;

  @media (min-width: @tablet-width) {
    height: 429px;
    border: 1px solid @special_grey;
    padding-bottom: 0;
  }
}

.main-catalog__button--still {
  background-color: @basic_grey;
  color: @special_dark-grey;
  padding: 10px 94px 10px 94px;

  @media (min-width: @tablet-width) {
    padding: 10px 79px;
  }

  @media (min-width: @desktop-width) {
    padding: 10px 39px;
  }
}

.main-catalog__button--still:hover {
  background-color: @special_grey-2;
}

.main-catalog__button--still:active {
  color: @black-for-active;
}

.main-catalog__image-gift {
  margin-bottom: 30px;
  background: url("../img/gift.png"), @basic_green;
  background-size: 280px 289px, cover;
  background-repeat: no-repeat, no-repeat;
  width: auto;
  height: 289px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  @media (min-resolution: 2dppx) {
    background: url("../img/gift@2x.png");
  }

  @media (min-width: @tablet-width) {
    margin-bottom: 75px;
    width: 100%;
    height: 200px;
    background: url("../img/gift-tablet.png"), @basic_green;
    background-repeat: no-repeat, no-repeat;
    flex-direction: row;
    justify-content: space-around;
    align-items: start;
  }

  @media (min-resolution: 2dppx) {
    background: url("../img/gift-tablet@2x.png");
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 0;
    height: 289px;
    margin-top: 65px;
    object-position: 45px 0;
    background: url("../img/gift.png"), @basic_green;
    background-size: 280px 289px, cover;
    background-repeat: no-repeat, no-repeat;

    width: 245px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  @media (min-resolution: 2dppx) {
    background: url("../img/gift@2x.png");
  }
}

.main-catalog__image-gift__subtitle {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: @basic_white;
  text-align: center;
  padding-bottom: 15px;

  @media (min-width: @tablet-width) {
    text-align: start;
    padding-right: 45px;
    padding-top: 55px;
  }

  @media (min-width: @desktop-width) {
    text-align: center;
    padding-right: 0;
    padding-bottom: 40px;
    margin: 0;
  }
}

.main-catalog__image-gift svg {
  padding-top: 40px;

  @media (min-width: @tablet-width) {
    padding-right: 100px;
    padding-top: 55px;
  }

  @media (min-width: @desktop-width) {
    padding-right: 0;
    padding-top: 60px;
  }
}
