.main-catalog__wrapper {
  .wrapper-mobile();

  @media (min-width: @tablet-width) {
    .wrapper-tablet();
  }

  @media (min-width: @desktop-width) {
    .wrapper-desktop();
  }
}

.main-catalog {
  overflow: hidden;
}

.main-catalog__title {
  .fonts();
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  padding-bottom: 41px;

  @media (min-width: @tablet-width) {
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
  }
}

.main-catalog__list {
  list-style: none;
  padding: 0;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
    row-gap: 59px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 60px;
    row-gap: 65px;
  }
}

.main-catalog__item {
  height: 190px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  border-bottom: 1px solid @special_grey-2;
  padding: 0;

  &:not(:first-child) {
    padding-top: 25px;
  }

  &:first-child {
    border-top: 1px solid @special_grey-2;
    padding-top: 19px;
  }

  @media (min-width: @tablet-width) {
    background-color: @basic_grey;
    width: 324px;
    height: 429px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  @media (min-width: @desktop-width) {
    max-width: 245px;
  }
}

.main-catalog__button {
  height: 20px;
  padding: 10px 109px 10px 109px;
  background-color: @basic_green;
  color: @basic_white;
  text-transform: uppercase;
  .fonts();
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;

  @media (min-width: @tablet-width) {
    padding: 9px 93px;
  }

  @media (min-width: @desktop-width) {
    padding: 10px 53px;
  }
}

.main-catalog__table-title a {
  .fonts();
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: @special_dark-grey-2;
  align-self: flex-start;
}

.main-catalog__table-title {
  max-width: 76px;
  text-align: left;

  @media (min-width: @tablet-width) {
    max-width: 120px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }

  @media (min-width: @desktop-width) {
    font-weight: 400;
    font-size: 20px;
    line-height: 21px;
  }
}

.main-catalog__table {
  width: 150px;

  @media (min-width: @tablet-width) {
    min-width: 250px;
    min-height: 157px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  @media (min-width: @desktop-width) {
    min-width: 196px;
    min-height: 156px;
  }
}

.main-catalog__table tbody {
  @media (min-width: @tablet-width) {
    margin-top: 15px;
  }
}

.main-catalog__table-row {
  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    min-width: 250px;
    border-bottom: 1px solid @special_grey;
    margin-bottom: 15px;
  }

  @media (min-width: @desktop-width) {
    min-width: 170px;
  }
}

.main-catalog__table-cell {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 16px;
  }
}

.main-catalog__table-cell:first-child {
  text-align: left;
}

.main-catalog__table-cell:last-child {
  text-align: right;
}

.main-catalog__table-cell:not(:last-child) {
  margin-bottom: 6px;
}

.main-catalog__still-title {
  .fonts();
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  position: relative;
  padding-top: 80px;
  margin: 0;
  text-transform: uppercase;

  &::before {
    content: url("../img/plus.png");
    position: absolute;
    top: 20px;
    left: 85px;
  }

  @media (min-width: @tablet-width) {
    width: 140px;
    text-align: center;
    padding-top: 150px;

    &::before {
      content: url("../img/plus.png");
      position: absolute;
      top: 20px;
      left: 55px;
    }
  }
}

.main-catalog__subtitle {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;

  @media (min-width: @tablet-width) {
    width: 170px;
    text-align: center;
    margin-bottom: 160px;
  }
}

.main-catalog__still {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  border-bottom: 1px solid @special_grey-2;
  padding-bottom: 25px;

  @media (min-width: @tablet-width) {
    min-height: 429px;
    border: 1px solid @special_grey;
  }
}

.main-catalog__button--still {
  background-color: @basic_grey;
  color: @special_dark-grey;
  padding: 10px 94px 10px 94px;

  @media (min-width: @tablet-width) {
    padding: 10px 79px;
  }

  @media (min-width: @desktop-width) {
    padding: 10px 39px;
  }
}
