.main-form__wrapper {
  .wrapper-mobile();

  @media (min-width: @tablet-width) {
    .wrapper-tablet();
  }

  @media (min-width: @desktop-width) {
    .wrapper-desktop();
  }
}

.main-form__title {
  .fonts();
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  margin-bottom: 35px;
  padding-top: 55px;

  @media (min-width: @tablet-width) {
    .fonts();
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: @desktop-width) {
    .fonts();
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
  }
}

.main-form__subtitle {
  .fonts();
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  padding-top: 15px;
  max-width: 332px;
  margin-bottom: 40px;

  @media (min-width: @tablet-width) {
    .fonts();
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: @desktop-width) {
    .fonts();
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
  }
}

.main-form__info-cats {
  border: none;
  margin: 0;
  padding: 0;

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 80px;
  }
}

.main-form__info-cats .main-form__list {
  list-style: none;
  padding: 0;
  border-bottom: 1px solid @special_grey-4;

  @media (min-width: @tablet-width), (min-width: @desktop-width) {
    border-bottom: none;
  }
}

.main-form__item {
  .fonts();
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: @tablet-width) {
    padding-right: 35px;
  }

  @media (min-width: @desktop-width) {
    padding-right: 0;
  }
}

.main-form__item label {
  @media (min-width: @tablet-width) {
    .fonts();
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
  }
}

.main-form__item:first-child label {
  @media (min-width: @tablet-width) {
    .fonts();
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    min-width: 70px;
  }
}

.main-form__item:nth-child(1) input {
  min-width: 228px;
}

.main-form__item:nth-child(2) input {
  min-width: 204px;
}

.main-form__item:not(:last-child) {
  margin-bottom: 13px;
}

.main-form__item:last-child {
  margin-bottom: 24px;
}

.main-form__item input {
  border: 1px solid @grey_border_input;
  height: 45px;

  &::placeholder {
    color: @special_dark-grey;
    text-transform: uppercase;
    .fonts();
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    padding-left: 10px;
  }

  @media (min-width: @tablet-width) {
    width: 100%;
  }
}

.main-form__filter-list {
  list-style: none;
  padding: 0;
  border-bottom: 1px solid @special_grey-4;

  @media (min-width: @tablet-width) {
    border: 1px solid @grey_border_input;
    margin-right: 35px;
  }

  @media (min-width: @desktop-width) {
    margin-right: 0;
  }
}

.main-form__filter-item {
  @media (min-width: @tablet-width), (min-width: @desktop-width) {
    margin-top: 25px;
    margin-left: 27px;
  }
}

.main-form__filter-item label {
  position: relative;
  .fonts();
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.main-form__filter-item--radio label::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  height: 30px;
  border: 1px solid @special_grey;
  border-radius: 50%;
  margin-right: 15px;
}

.main-form__filter-item--radio input:checked + label::after {
  content: "";
  position: absolute;
  top: 7px;
  left: 9px;
  background-color: @basic_green;
  width: 14px;
  height: 14px;
  border-radius: 50%;
}

.main-form__filter-item:not(:last-child) {
  margin-bottom: 13px;
}

.main-form__filter-item:last-child {
  margin-bottom: 19px;
}

.main-form__contacts {
  border: none;
  margin: 0;
  padding: 0;
}

.main-form__contacts .main-form__list {
  padding: 0;

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 78px;
  }
}

.main-form__contacts .main-form__title {
  .fonts();
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  position: relative;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;

  @media (min-width: @tablet-width) {
    &::before {
      content: "";
      position: absolute;
      top: 15px;
      right: 350px;
      width: 100vw;
      height: 2px;
      background-color: @basic_green;
    }
  }
}

.main-form__email {
  background: url("../img/icon_email.png") no-repeat center right;
  background-position: 180px;
  padding: 0;

  @media (min-width: @tablet-width) {
    background: url("../img/icon_email.png") no-repeat center right;
    background-position: 550px;
  }

  @media (min-width: @desktop-width) {
    background-position: 450px;
  }
}

.main-form__tel {
  background: url("../img/icon_phone.png") no-repeat center right;
  background-position: 170px;
  padding: 0;

  @media (min-width: @tablet-width) {
    background: url("../img/icon_phone.png") no-repeat center right;
    background-position: 540px;
  }

  @media (min-width: @desktop-width) {
    background-position: 440px;
  }
}

.main-form__comment {
  border: none;
}

.main-form__comment .main-form__title {
  .fonts();
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  position: relative;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;

  @media (min-width: @tablet-width), (min-width: @desktop-width) {
    &::before {
      content: "";
      position: absolute;
      top: 15px;
      right: 130px;
      width: 100vw;
      height: 2px;
      background-color: @basic_green;
    }
  }
}

.main-form__comment .main-form__item {
  min-width: 280px;
  min-height: 150px;
  border: 1px solid @grey_border_input;
  resize: none;
  margin: 0;

  &::placeholder {
    color: @special_dark-grey;
    text-align: center;
    padding-top: 15px;
  }

  @media (min-width: @tablet-width) {
    min-width: 631px;
    margin-right: 36px;

    &::placeholder {
      color: @special_dark-grey;
      text-align: left;
      padding-top: 15px;
    }
  }

  @media (min-width: @desktop-width) {
    margin-right: 0;
    width: 100%;
  }
}

.main-form__additionally {
  border: none;
}

.main-form__additionally .main-form__title {
  .fonts();
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  position: relative;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  padding-top: 20px;

  &::after {
    content: "";
    position: absolute;
    top: 35px;
    left: 170px;
    width: 100;
    height: 2px;
    background-color: @basic_green;
  }

  @media (min-width: @tablet-width), (min-width: @desktop-width) {
    &::before {
      content: "";
      position: absolute;
      top: 35px;
      right: 150px;
      width: 100vw;
      height: 2px;
      background-color: @basic_green;
    }
  }
}

.main-form__additionally .main-form__list {
  padding: 0;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    row-gap: 32px;
    column-gap: 123px;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 104px;
  }
}

.main-form__sendform {
  @media (min-width: @tablet-width) {
    display: flex;
    padding-bottom: 70px;
    align-items: center;
  }
}

.main-form__additionally .main-form__item {
  margin-bottom: 13px;
  position: relative;
}

.main-form__checkbox label::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  height: 30px;
  border: 1px solid @special_grey;
  margin-right: 15px;
}

.main-form__checkbox input:checked + label::after {
  content: url("../img/checkbox_mark.png");
  position: absolute;
  left: 7px;
  top: 7px;

  @media (min-width: @tablet-width) {
    top: 0;
  }
}

.main-form__button {
  width: 280px;
  height: 40px;
  background-color: @basic_green;
  border: none;
  .fonts();
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: @basic_white;

  @media (min-width: @tablet-width) {
    margin-right: 60px;
    min-width: 282px;
  }

  @media (min-width: @desktop-width) {
    margin-right: 80px;
    min-width: 568px;
  }
}

.main-form__content {
  display: flex;
  flex-direction: column;
}

.main-form__content p {
  align-self: center;
}
