.main-form__wrapper {
  .wrapper-mobile();

  @media (min-width: @tablet-width) {
    .wrapper-tablet();
  }

  @media (min-width: @desktop-width) {
    .wrapper-desktop();
  }
}

.main-form {
  overflow: hidden;
}

.main-form input {
  &:hover {
    border-color: @special_grey;
  }

  &:active {
    border-color: @special_dark-grey;
  }
}

.main-form input:focus + .main-form__icon-phone,
.main-form input:focus + .main-form__icon-email {
  fill: @basic_green;
}

.error + .main-form__icon-phone,
.error + .main-form__icon-email {
  fill: @input-invalid;
}

.main-form .error {
  border-color: @input-invalid;
}

.main-form input:focus,
.main-form textarea:focus {
  border-color: @special_dark-grey;
  outline: none;
}

.main-form__main-title {
  .fonts();
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  padding-top: 5px;

  @media (min-width: @tablet-width) {
    .fonts();
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    padding-left: 40px;
    padding-top: 8px;
  }

  @media (min-width: @desktop-width) {
    .fonts();
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    padding-left: 0;
    padding-top: 18px;
  }
}

.main-form__subtitle {
  .fonts();
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  padding-top: 11px;
  max-width: 332px;
  margin-bottom: 20px;

  @media (min-width: @tablet-width) {
    .fonts();
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    padding-left: 40px;
    padding-top: 15px;
  }

  @media (min-width: @desktop-width) {
    .fonts();
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    padding-left: 0;
  }
}

.main-form__info-cats {
  border: none;
  margin: 0;
  padding: 0;

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 80px;
  }
}

.main-form__list {
  list-style: none;
  padding: 0;
  border-bottom: 1px solid @special_grey-4;
  margin-bottom: 10px;

  @media (min-width: @tablet-width) {
    border-bottom: none;
    padding-left: 40px;
    padding-top: 30px;
    padding-bottom: 2px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 0;
  }
}

.main-form__item {
  .fonts();
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: @tablet-width) {
    padding-right: 36px;
  }

  @media (min-width: @desktop-width) {
    padding-right: 0;
  }
}

.main-form__item label {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;

  @media (min-width: @tablet-width) {
    .fonts();
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    height: 30px;
    width: auto;
  }
}

.main-form__item:last-child label {
  @media (min-width: @tablet-width) {
    .fonts();
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    width: 149px;
  }

  @media (min-width: @desktop-width) {
    width: 120px;
    padding-right: 5px;
  }
}

.main-form__item:nth-child(1) input {
  min-width: 215px;

  @media (min-width: @tablet-width) {
    max-width: 560px;
  }

  @media (min-width: @desktop-width) {
    max-width: 500px;
  }
}

.main-form__item:nth-child(2) input {
  min-width: 200px;

  @media (min-width: @tablet-width) {
    max-width: 532px;
  }

  @media (min-width: @desktop-width) {
    max-width: 470px;
  }
}

.main-form__item:nth-child(3) input {
  min-width: 150px;

  @media (min-width: @tablet-width) {
    max-width: 490px;
  }

  @media (min-width: @desktop-width) {
    max-width: 430px;
  }
}

.main-form__info-cats .main-form__item:not(:last-child) {
  margin-bottom: 10px;

  @media (min-width: @tablet-width) {
    margin-bottom: 23px;
  }
}

.main-form__item:last-child {
  margin-bottom: 20px;

  @media (min-width: @tablet-width) {
    margin-bottom: 65px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 0;
  }
}

.main-form__item input {
  border: 1px solid @grey_border_input;
  height: 45px;

  &::placeholder {
    color: @special_dark-grey;
    text-transform: uppercase;
    .fonts();
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    padding-left: 15px;
  }

  &::-moz-placeholder {
    color: @special_dark-grey;
    text-transform: uppercase;
    .fonts();
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    opacity: 1;
  }

  @media (min-width: @tablet-width) {
    width: 100%;

    &::placeholder {
      color: @special_dark-grey;
      text-transform: uppercase;
      .fonts();
      font-weight: 400;
      font-size: 20px;
      line-height: 30px;
      padding-left: 18px;
    }

    &::-moz-placeholder {
      color: @special_dark-grey;
      text-transform: uppercase;
      .fonts();
      font-weight: 400;
      font-size: 20px;
      line-height: 40px;
      opacity: 1;
    }
  }
}

.main-form__filter-list {
  list-style: none;
  padding: 0;
  padding-top: 10px;
  border-bottom: 1px solid @special_grey-4;

  @media (min-width: @tablet-width) {
    border: 1px solid @grey_border_input;
    margin-right: 35px;
    margin-left: 45px;
    margin-top: 15px;
  }

  @media (min-width: @desktop-width) {
    margin-right: 0;
    max-height: 200px;
    margin-left: 0;
    margin-top: 55px;
    padding-left: 5px;
  }
}

.main-form__filter-item {
  @media (min-width: @tablet-width) {
    margin-top: 20px;
    margin-left: 27px;
    margin-bottom: 0;
  }
}

.main-form__filter-item label {
  position: relative;
  .fonts();
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
  }
}

.main-form__filter-item--radio label::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  height: 30px;
  border: 1px solid @special_grey;
  border-radius: 50%;
  margin-right: 15px;

  @media (min-width: @tablet-width) {
    margin-right: 20px;
    width: 39px;
    height: 39px;
  }
}

.main-form__filter-item--radio input:checked + label::after {
  content: "";
  position: absolute;
  top: 7px;
  left: 9px;
  background-color: @basic_green;
  width: 14px;
  height: 14px;
  border-radius: 50%;

  @media (min-width: @tablet-width) {
    width: 18px;
    height: 18px;
    top: 15px;
    left: 21px;
    transform: translate(-50%, -50%);
  }

  @media (min-width: @desktop-width) {
    top: 18px;
  }
}

.main-form__filter-item--radio input:hover + label::before {
  border: 1px solid @special-grey-radio-button;
}

.main-form__filter-item--radio input:disabled + label {
  opacity: 0.3;
}

.main-form__filter-item--radio input:focus + label::before {
  border-color: @special_dark-grey;
}

.main-form__filter-item:not(:last-child) {
  margin-bottom: 10px;

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
    margin-top: 10px;
    margin-left: 23px;
  }
}

.main-form__filter-item:last-child {
  margin-bottom: 19px;

  @media (min-width: @tablet-width) {
    margin-bottom: 15px;
    margin-top: 10px;
    margin-left: 23px;
  }
}

//form-contacts

.main-form__contacts {
  border: none;
  margin: 0;
  padding: 0;
}

.main-form__contacts .main-form__list {
  padding: 0;

  @media (min-width: @tablet-width) {
    padding-top: 40px;
    padding-left: 40px;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 78px;
    padding-left: 0;
    padding-top: 40px;
  }
}

.main-form__item:nth-child(1) .main-form__contacts-label {
  @media (min-width: @tablet-width) {
    width: 80px;
    padding-right: 10px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 0;
  }
}

.main-form__item:nth-child(2) .main-form__contacts-label {
  @media (min-width: @tablet-width) {
    padding-right: 12px;
    width: 100px;
  }

  @media (min-width: @desktop-width) {
    padding-right: 0;
    width: 50px;
  }
}

.main-form__contacts .main-form__item {
  margin-bottom: 10px;
  position: relative;

  @media (min-width: @tablet-width) {
    margin-bottom: 23px;
  }
}

.main-form__contacts .main-form__title {
  .fonts();
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  position: relative;
  margin: 0;
  padding: 0;
  padding-top: 5px;
  margin-bottom: 20px;

  &::after {
    content: "";
    position: absolute;
    top: 22px;
    margin-left: 47px;
    width: 100vw;
    height: 2px;
    background-color: @basic_green;
  }

  @media (min-width: @tablet-width) {
    .fonts();
    font-size: 36px;
    line-height: 36px;
    padding-top: 68px;
    padding-left: 40px;

    &::before {
      content: "";
      position: absolute;
      top: 89px;
      right: 552px;
      width: 100vw;
      height: 2px;
      background-color: @basic_green;
    }

    &::after {
      content: "";
      position: absolute;
      top: 89px;
      margin-left: 41px;
      width: 100vw;
      height: 2px;
      background-color: @basic_green;
    }
  }

  @media (min-width: @desktop-width) {
    padding-top: 60px;
    padding-left: 0;

    &::before {
      content: "";
      position: absolute;
      top: 80px;
      right: 550px;
      width: 100vw;
      height: 2px;
      background-color: @basic_green;
    }

    &::after {
      content: "";
      position: absolute;
      top: 80px;
      margin-left: 40px;
      width: 100vw;
      height: 2px;
      background-color: @basic_green;
    }
  }
}

.main-form__icon-email {
  width: 20px;
  height: 25px;
  position: absolute;
  right: 15px;

  @media (min-width: @tablet-width) {
    right: 55px;
  }

  @media (min-width: @desktop-width) {
    right: 20px;
  }
}

.main-form__icon-phone {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 10px;

  @media (min-width: @tablet-width) {
    right: 54px;
  }

  @media (min-width: @desktop-width) {
    right: 15px;
  }
}

.main-form__comment {
  border: none;
}

.main-form__comment .main-form__title {
  .fonts();
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  position: relative;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;

  &::after {
    content: "";
    position: absolute;
    top: 15px;
    margin-left: 24px;
    width: 100vw;
    height: 2px;
    background-color: @basic_green;
  }

  @media (min-width: @tablet-width) {
    padding-top: 45px;
    padding-left: 40px;
    font-weight: 400;
    font-size: 36px;
    line-height: 36px;

    &::before {
      content: "";
      position: absolute;
      top: 66px;
      right: 220px;
      width: 100vw;
      height: 2px;
      background-color: @basic_green;
    }

    &::after {
      content: "";
      position: absolute;
      top: 66px;
      margin-left: 40px;
      width: 100vw;
      height: 2px;
      background-color: @basic_green;
    }
  }

  @media (min-width: @desktop-width) {
    padding-top: 35px;
    padding-left: 0;

    &::before {
      content: "";
      position: absolute;
      top: 59px;
      right: 220px;
      width: 100vw;
      height: 2px;
      background-color: @basic_green;
    }

    &::after {
      content: "";
      position: absolute;
      top: 59px;
      margin-left: 42px;
      width: 100vw;
      height: 2px;
      background-color: @basic_green;
    }
  }
}

.main-form__comment .main-form__item {
  width: 280px;
  height: 150px;
  border-color: @grey_border_input;
  resize: none;
  margin: 0;
  padding: 0;

  &::placeholder {
    .fonts();
    color: @special_dark-grey;
    text-align: center;
    padding-top: 15px;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
  }

  &::-moz-placeholder {
    color: @special_dark-grey;
    text-transform: uppercase;
    .fonts();
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    opacity: 1;
  }

  @media (min-width: @tablet-width) {
    min-width: 631px;
    min-height: 174px;
    padding-right: 0;
    margin-top: 45px;
    margin-left: 35px;

    &::placeholder {
      color: @special_dark-grey;
      text-align: left;
      padding-top: 10px;
      padding-left: 23px;
      font-weight: 400;
      font-size: 20px;
      line-height: 30px;
    }

    &::-moz-placeholder {
      color: @special_dark-grey;
      text-transform: uppercase;
      .fonts();
      font-weight: 400;
      font-size: 20px;
      line-height: 30px;
      opacity: 1;
    }
  }

  @media (min-width: @desktop-width) {
    margin-right: 0;
    width: 100%;
    margin-left: 0;

    &::placeholder {
      color: @special_dark-grey;
      text-align: left;
      padding-top: 13px;
      padding-left: 18px;
      font-weight: 400;
      font-size: 20px;
      line-height: 30px;
    }

    &::-moz-placeholder {
      color: @special_dark-grey;
      text-transform: uppercase;
      .fonts();
      font-weight: 400;
      font-size: 20px;
      line-height: 30px;
      opacity: 1;
    }
  }
}

.main-form__additionally {
  border: none;
}

.main-form__additionally .main-form__title {
  .fonts();
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  position: relative;
  margin: 0;
  padding: 0;
  margin-bottom: 18px;
  padding-top: 30px;

  &::after {
    content: "";
    position: absolute;
    top: 44px;
    margin-left: 24px;
    width: 100vw;
    height: 2px;
    background-color: @basic_green;
  }

  @media (min-width: @tablet-width) {
    font-weight: 400;
    font-size: 36px;
    line-height: 36px;
    padding-top: 60px;
    padding-left: 41px;

    &::before {
      content: "";
      position: absolute;
      top: 83px;
      right: 250px;
      width: 100vw;
      height: 2px;
      background-color: @basic_green;
    }

    &::after {
      content: "";
      position: absolute;
      top: 83px;
      margin-left: 40px;
      width: 100vw;
      height: 2px;
      background-color: @basic_green;
    }
  }

  @media (min-width: @desktop-width) {
    padding-left: 0;
    padding-top: 68px;

    &::before {
      content: "";
      position: absolute;
      top: 90px;
      right: 251px;
      width: 100vw;
      height: 2px;
      background-color: @basic_green;
    }

    &::after {
      content: "";
      position: absolute;
      top: 91px;
      margin-left: 41px;
      width: 100vw;
      height: 2px;
      background-color: @basic_green;
    }
  }
}

.main-form__additionally .main-form__list {
  padding: 0;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin-bottom: 22px;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    row-gap: 32px;
    column-gap: 20px;
    padding-top: 30px;
    padding-left: 40px;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 75px;
    padding-left: 0;
    padding-top: 25px;
  }
}

.main-form__sendform {
  @media (min-width: @tablet-width) {
    display: flex;
    padding-bottom: 58px;
    padding-top: 15px;
    padding-left: 38px;
    align-items: center;
  }

  @media (min-width: @desktop-width) {
    padding-left: 0;
    padding-top: 25px;
    padding-bottom: 67px;
  }
}

.main-form__sendform p {
  text-align: center;
  padding-bottom: 12px;
}

.main-form__additionally .main-form__item {
  margin-bottom: 10px;
  position: relative;

  @media (min-width: @desktop-width) {
    min-width: 250px;
  }
}

.main-form__checkbox label::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  height: 30px;
  border: 1px solid @special_grey;
  margin-right: 15px;

  @media (min-width: @tablet-width) {
    width: 40px;
    height: 40px;
  }
}

.main-form__checkbox input:checked + label::after {
  content: url("../img/checkbox_mark.png");
  position: absolute;
  left: 7px;
  top: 7px;

  @media (min-width: @tablet-width) {
    top: 20px;
    left: 20px;
    transform: translate(-50%, -50%);
  }
}

.main-form__checkbox:last-child label {
  width: auto;
}

.main-form__checkbox input:hover + label::before {
  border: 1px solid @special-grey-radio-button;
}

.main-form__checkbox input:disabled + label {
  opacity: 0.3;
}

.main-form__checkbox input:focus + label::before {
  border-color: @special_dark-grey;
}

.main-form__button {
  width: 280px;
  height: 40px;
  background-color: @basic_green;
  border: none;
  .fonts();
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: @basic_white;

  &:hover {
    background-color: @basic_green-2;
  }

  &:active {
    color: @white-for-active;
  }

  @media (min-width: @tablet-width) {
    margin-right: 60px;
    min-width: 282px;
    width: 282px;
    height: 52px;
    font-weight: 400;
    font-size: 20px;
    line-height: 0px;
  }

  @media (min-width: @desktop-width) {
    margin-right: 80px;
    min-width: 568px;
  }
}

.main-form__content {
  display: flex;
  flex-direction: column;
}

.main-form__content p {
  align-self: center;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  padding-top: 7px;
  margin-bottom: 20px;

  @media (min-width: @tablet-width) {
    font-family: "Arial", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    padding-top: 15px;
  }
}
