.main-nav__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 2;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    min-width: 440px;
  }

  @media (min-width: @desktop-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.main-nav__item--current a {
  @media (min-width: @tablet-width) {
    border-bottom: 2px solid @basic_green;
  }

  @media (min-width: @desktop-width) {
    border-bottom: 2px solid @basic_green;
  }
}

.main-nav__item--white.main-nav__item--current a {
  @media (min-width: @desktop-width) {
    border-bottom: 2px solid @basic_white;
  }
}

.main-nav__item {
  text-transform: uppercase;
  text-decoration: none;
  .fonts();
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid @line-nav-grey;

  @media (min-width: @tablet-width) {
    border: none;
    .fonts();
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: @desktop-width) {
    &:not(:last-child) {
      margin-bottom: 20px;
      border-bottom: none;
    }
  }
}

.main-nav__item a {
  color: @basic-black;

  @media (min-width: @desktop-width) {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
  }
}

.main-nav__item--white a {
  @media (min-width: @desktop-width) {
    color: @basic_white;
  }
}

.main-nav__wrapper {
  .wrapper-mobile();

  @media (min-width: @tablet-width) {
    .wrapper-tablet();
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: @desktop-width) {
    .wrapper-desktop();
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.main-nav__toggle--close {
  position: relative;
  border: none;
  background: none;
  outline: none;

  &::before,
  &::after {
    content: "";
    position: absolute;
    right: 15px;
    width: 24px;
    height: 1.5px;
    background-color: @basic-black;
    cursor: pointer;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }

  @media (min-width: @tablet-width) {
    display: none;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.main-nav__toggle--open {
  content: "";
  border: none;
  width: 24px;
  height: 1.5px;
  background-color: @basic-black;
  box-shadow: 0 8px 0 0 @basic-black, 0 16px 0 0 @basic-black;
  margin-bottom: 15px;
  cursor: pointer;

  @media (min-width: @tablet-width) {
    display: none;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.page-header__logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid @line-nav-grey;
  padding: 12px 0 16px 0;
  margin-right: 20px;

  @media (min-width: @tablet-width) {
    display: none;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.page-header__logo-medium {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.page-header__logo-large {
  display: none;

  @media (min-width: @tablet-width) {
    display: none;
  }

  @media (min-width: @desktop-width) {
    display: block;
  }
}
