.page-footer__map {
  margin: 0 auto;
  display: block;
  width: 360px;
  height: 362px;
}

.page-footer__social {
  width: 320px;
  background-color: @basic_grey;
}

.page-footer__list {
  list-style: none;
}

.page-footer__wrapper {
  .wrapper-mobile();
}
