.page-footer__map {
  display: block;
  width: 100%;
  position: relative;

  @media (max-width: @mobile-width-only) {
    height: 362px;
  }

  @media (min-width: @tablet-width) {
    height: 400px;
  }
}

.page-footer__social {
  background-color: @basic_grey;
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 150px;
  }
}

.page-footer__list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 0 60px 0 60px;
  margin-bottom: 0;
  align-items: center;
  padding-top: 30px;

  @media (min-width: @tablet-width) {
    width: 129px;
    padding: 0;
    justify-content: space-between;
    margin-top: 0;
    padding-top: 0;
    padding-left: 29px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 0;
    padding-left: 50px;
  }
}

.page-footer__item--vk svg {
  @media (min-width: @tablet-width) {
    width: 30px;
    height: 22px;
    fill: @special_grey-1;
  }
}

.page-footer__item--instagram svg {
  @media (min-width: @tablet-width) {
    width: 23px;
    height: 23px;
    fill: @special_grey-1;
  }
}

.page-footer__item--facebook svg {
  @media (min-width: @tablet-width) {
    width: 28px;
    height: 33px;
    fill: @special_grey-1;
  }
}

.page-footer__item svg {
  &:hover {
    fill: @basic_green;
  }

  &:active {
    opacity: 0.3;
  }
}

.page-footer__wrapper {
  .wrapper-mobile();

  @media (min-width: @tablet-width) {
    .wrapper-tablet();
  }

  @media (min-width: @desktop-width) {
    .wrapper-desktop();
  }
}

.page-footer__social a {
  align-self: center;
  padding-top: 25px;

  @media (min-width: @tablet-width) {
    padding-top: 0;
  }
}

.page-footer {
  background-color: @basic_grey;
}

.page-footer__logo-image {
  padding-top: 14px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: @tablet-width) {
    padding: 0;
    padding-top: px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 5px;
  }
}

.page-footer__social-academy-wrapper {
  margin-bottom: 0;
  padding-top: 0;

  @media (min-width: @desktop-width) {
    margin-left: 25px;
    margin-bottom: 0;
    padding-top: 50px;
    width: 163px;
  }
}

// SVG logo-html-academy

.shield-small {
  display: none;
}

.page-footer__logo-htmlacademy:hover .shield-small,
.page-footer__logo-htmlacademy:hover .shield-long {
  fill: #68b738;
}

.page-footer__logo-htmlacademy:active {
  opacity: 0.3;
}

@media (min-width: @tablet-width) {
  .shield-small {
    display: block;
  }
}

@media (min-width: @tablet-width) {
  .shield-long {
    display: none;
  }
}

.page-footer__logo-htmlacademy {
  @media (max-width: @mobile-width-only) {
    width: 281px;
    height: 34px;
    padding-top: 15px;
    padding-bottom: 16px;
  }

  @media (min-width: @tablet-width) {
    width: 163px;
    padding-top: 0;
    padding-right: 3px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 6px;
  }
}
