.services__item {
  background-color: @special_grey-3;
  width: 280px;
  height: 266px;
}

.services__title {
  .fonts();
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
}

.services__subtitle {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.services__link {
  .fonts();
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: @basic-black;
  text-transform: uppercase;

  &::after {
    content: url("../img/icon_arrow.png");
    padding-left: 17px;
  }
}

.services__title--slim::before {
  content: url("../img/cat_slim.png");
  vertical-align: middle;
}

.services__title--pro::before {
  content: url("../img/cat_pro.png");
  vertical-align: middle;
}

.services__wrapper {
  .wrapper-mobile();
}
