.services__item {
  background-color: @special_grey-3;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 20px;
  padding-right: 33px;
  height: 266px;

  &:first-child {
    margin-bottom: 20px;
    margin-top: 27px;
  }

  @media (min-width: @tablet-width) {
    max-width: 100%;
    height: 372px;

    &:first-child {
      margin-bottom: 20px;
      margin-top: 0;
    }
  }
}

.services__title {
  .fonts();
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  margin: 0;
  padding-top: 20px;

  @media (min-width: @tablet-width) {
    font-weight: 400;
    font-size: 36px;
    line-height: 36px;
    margin-left: 35px;
    padding-top: 55px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 50px;
    padding-bottom: 35px;
    margin-left: 0;
  }
}

.services__subtitle {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  align-self: center;
  padding-bottom: 27px;
  border-bottom: 1px solid @special_grey;

  @media (min-width: @tablet-width) {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    width: 377px;
    align-self: flex-start;
    margin-left: 35px;
    margin-bottom: 55px;
    margin-top: 0;
    border: none;
  }
}

@media (min-width: @tablet-width) {
  .services__subtitle--slim {
    position: relative;
    margin-bottom: 0;
  }

  .services__subtitle--slim::after {
    content: url("../img/cat_slim-large.svg");
    position: absolute;
    bottom: -35px;
    left: 390px;
  }
}

@media (min-width: @desktop-width) {
  .services__subtitle--slim::after {
    content: "";
  }
}

@media (min-width: @tablet-width) {
  .services__subtitle--pro {
    position: relative;
    width: 342px;
    padding-top: 5px;
    margin-bottom: 0;
  }

  .services__subtitle--pro::after {
    content: url("../img/cat_pro-large.svg");
    position: absolute;
    bottom: -35px;
    left: 355px;
  }
}

@media (min-width: @desktop-width) {
  .services__subtitle--pro::after {
    content: "";
  }

  .services__subtitle--pro {
    margin-left: 35px;
  }

  .services__subtitle {
    width: 467px;
  }
}

.services__link {
  .fonts();
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: @basic-black;
  text-transform: uppercase;
  padding-bottom: 20px;

  &::after {
    content: url("../img/icon_arrow.png");
    padding-left: 28px;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: @tablet-width) {
    margin-left: 30px;
    .fonts();
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 30px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 40px;
  }
}

@media (max-width: @mobile-width-only) {
  .services__title--slim::before {
    content: url("../img/cat_slim.svg");
    margin-right: 25px;
    vertical-align: middle;
  }
}

@media (max-width: @mobile-width-only) {
  .services__title--pro::before {
    content: url("../img/cat_pro.svg");
    margin-right: 5px;
    vertical-align: middle;
  }
}

@media (min-width: @desktop-width) {
  .services__title--slim::before {
    content: url("../img/cat_slim-middle.svg");
    vertical-align: middle;
    margin-right: 65px;
    margin-left: 25px;
  }

  .services__title--pro::before {
    content: url("../img/cat_pro-middle.svg");
    vertical-align: middle;
    margin-right: 30px;
    margin-left: 20px;
  }
}

.services__title--pro {
  @media (min-width: @tablet-width) {
    padding-top: 65px;
  }
}

.services__wrapper {
  .wrapper-mobile();

  @media (min-width: @tablet-width) {
    .wrapper-tablet();
  }

  @media (min-width: @desktop-width) {
    .wrapper-desktop();
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 90px;
  }
}

.services {
  @media (min-width: @desktop-width) {
    padding-top: 55px;
  }
}
