.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

a,
button {
  cursor: pointer;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

input[type="number"] {
  appearance: textfield;
}

input[type="number"]:hover,
input[type="number"]:focus {
  appearance: number-input;
}

.main-form__content fieldset {
  margin: 0;
  padding: 0;
}

.main-nav__item--current a {
  @media (min-width: @tablet-width) {
    border-bottom: 2px solid @basic_green;
  }

  @media (min-width: @desktop-width) {
    border-color: @basic_white;
  }
}
