.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.page-body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Tahoma", sans-serif;
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

img { max-width: 100% }
a { text-decoration: none }

